@property --timer-minutes {
    initial-value: 0;
    inherits: true;
    syntax: '<integer>';
}

@property --timer-seconds {
    initial-value: 0;
    inherits: true;
    syntax: '<integer>';
}

@keyframes minutes {
    to {
        --timer-minutes: 60;
    }
}

@keyframes seconds {
    to {
        --timer-seconds: 60;
    }
}

@keyframes tick {
    /* dummy */
}

body {
    counter-set:
        minutes var(--timer-minutes) seconds var(--timer-seconds);
    animation-name: minutes, seconds, tick, rotation;
    animation-duration: 3600s, 60s, 1s, 60s;
    animation-timing-function: steps(60), steps(60);
    animation-play-state: paused;
    animation-direction: reverse, reverse;
    animation-iteration-count: 1, 60, 3600;

    &:has(input.quest:checked) {
        animation-play-state: running;
    }
}

time::before {
    content: counter(minutes, decimal-leading-zero);
}

time::after {
    content: counter(seconds, decimal-leading-zero);
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

article {
    counter-reset: questions;

    &>header {
        border: 1px solid gray;
        width: 120px;
        height: 120px;

        &>span::before {
            content: counter(answered);
        }

        &>span::after {
            content: counter(questions);
        }
    }
}

body {
    height: 100%;
    border: 5px solid red;
    overflow: hidden;
}

div.intro {
    border: 1px solid blue;
    height: 100%;
    visibility: hidden;
    position: fixed;
    inset: 0;

    &:has([name=visible]:checked) {
        visibility: visible;
    }
}

div.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    height: 100%;
    gap: 16px;

    visibility: hidden;
    position: fixed;
    inset: 0;

    &:has([name=visible]:checked) {
        visibility: visible;
    }
}

div.intropages,
div.questions {
    border: 2px solid green;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: end;
    gap: 10px;
    /* display: none; */
    visibility: hidden;

    counter-reset: answered;

    &:has([name=visible]:checked) {
        background-color: #ddd;
        display: flex;
        visibility: visible;
    }
}

div.intropage,
div.question {
    border: 2px solid blue;
    position: fixed;
    inset: 0 0 100px 0;
    /* display: none; */
    visibility: hidden;

    counter-increment: questions;

    &:has([name=visible]:checked) {
        /*  background-color: #ddd; */
        display: block;
        visibility: visible;
    }

    &:has([type=checkbox]:checked)>h3 {
        counter-increment: answered;
    }
}

form {
    display: contents;
}

html {
    height: 100%;
}



menu {
    padding: 0;
    list-style: none;
    position: fixed;
    border: 3px solid green;
    margin: auto;
}

section {

    &>label {
        overflow: hidden;
        border: 2px solid gray;
        width: 20px;
        height: 20px;
    }

    &:has([name=visible]:checked)>label {
        background-color: yellow;
    }
}